.palette {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  background-color: beige;
  border-radius: 25px;
}

.pieceBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.pieceBtn:hover {
  transform: scale(1.3);
  transition: 0.5s;
}

.pieceBtn:after {
  transform: scale(1.3);
}
.pieceBtn:focus {
  transform: scale(1.3);
}

.big {
  font-size: 57px;
}

.medium {
  font-size: 36px;
}

.small {
  font-size: 20px;
}
