.palette {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  background-color: beige;
  border-radius: 25px;
}

/* X pieces */
.XPieceBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.XPieceBtn:after {
  transform: scale(1.3);
}
.XPieceBtn:hover {
  transform: scale(1.3);
}

.big_2 {
  font-size: 57px;
}

.medium_1 {
  font-size: 36px;
}

.small_0 {
  font-size: 20px;
}

/* Cicle Pieces */
.OPieceBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.OPieceBtn:after {
  transform: scale(1.3);
}
.OPieceBtn:hover {
  transform: scale(1.3);
}
